<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="login-box">
		<h1>Login</h1>
		<form action="#" method="post">
			{% csrf_token %}
			<label for="email">Email</label>
			<input type="text" id="email" name="email">
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--jQuery library-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!--Latest compiled and minified JavaScript-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">


</head>

<body>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<body>
		<header>
			<div class="wrapper">
				<ul class="nav-area">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
            <div class="space" style="height: 200px;"></div>
			<div class="banner">
				<div class="container login">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="panel  panel-success">
								<div class="panel-heading">
									LOGIN
								</div>
								<div class="panel-body">
									<form action="#" method="post">
										{% csrf_token %}
										<label for="email">Email</label>
										<input class="form-control" type="text" id="email" name="email">
										<label for="password">Password:</label>
										<input class="form-control" type="password" id="password" name="password">
                                        <br>
										<input class="form-control" type="submit" style="background-color:rgb(224, 253, 224);" value="Login">
									</form>
									<br>
								</div>
								<div class="panel-footer">
									<p>Don't have a account?<a href="http://localhost:8000/signup/"> Register</a></p>
									<p CLASS="frgt">Forgot<a href="#"> Password?</a></p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>


	</body>

</html>